Package: pr4
Version: 1.0
Section: unknown
Priority: optional
Depends: libc6
Architecture: amd64
Essential: no
Installed-Size: 16
Maintainer: Quink44 <edik.tovmasian@mail.ru>
Description: Program 4 from lecture 3
